{% extends 'base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for item in order %}
                <div class="col-md-6">
                    <div class="card mb-3">
                        <div class="card-body">
                            <h5 class="card-title">User: {{ item.user }}</h5>
                            <p class="card-text">Shipping Address: {{ item.shipping_address }}</p>
                            <p class="card-text">Email: {{ item.email }}</p>
                            <p class="card-text">Shipped: {{ item.shipped }}</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
